
* {
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

body {
    background-color: lightgray;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

nav a {
    display: block;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: whitesmoke;
}

#picinfo {
    margin: 35px;
 
}

#portfolio {
    padding: 10px;
    background-color: whitesmoke;
}


article,
aside,
#skills {
    width: 80%;
    text-align: center;
    padding: 10px;
    background-color: whitesmoke;
    margin: 15px auto;   
}

section {
    text-align: center;
}

ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    background-color: teal;
    color: white;
    margin-right: 40px;
    
}

img{
    max-width: 100%;
  
}

footer {
    padding: 5px;
    background-color: whitesmoke;
}

.name {
    float: left;
    font-family: 'Roboto';
}

.btt {
    float: right;
}

a:hover {
 color: tomato;
}

#footernav {
    display: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


@media (min-width: 768px) {

    nav a {
        display: inline-block;;
    }

    #profilepic {
        float: right;
        margin-right: 1em;
    }

    #picinfo p {
        text-align: justify;
        max-width: 400px;
        margin-left: 1em;
    }

    article {
        float: left;
        max-width: 50%;
       
    }
    
    section{
        margin: 0 auto;
        width: 90%;
    }

    aside,
    #skills {
        width: 90%;
    }

    #footernav {
        display: block;
        float: right;
        margin: 15px auto 15px;
  
    }

    .btt {
        display: none;
    }
}

@media (min-width: 1024px) {

    h1 {
        float: left;
        margin-left: 110px;
    }

    nav {
        float: right;
        margin-top: 25px;
        margin-right: 90px;
    }

    nav a {
        margin-right: 10px;
    }

    #profilepic {
        margin-right: 4em;
    }

    #picinfo p {
        margin-left: 4em;
    }

    h2 {
        width: 99.9%;
    }
    article {
       width: 33.3%;
    }

    article p {
        max-width: 325px;
        margin: auto;
    }



    aside,
    #skills {
        width: 90%;
    }
}
